[Desktop Entry]
Type=Application
Name=Scalpel Editor
GenericName=Text Editor
Comment=Wayland-only plain-text editor
Exec=scalpel-editor
Icon=scalpel-editor
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=false
Keywords=text;editor;plain;wayland;
